# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review
# when someone opens a pull request.

* @moderncode-source/vex-svc

*.nix @KirilStrezikozin
go.mod @KirilStrezikozin
go.sum @KirilStrezikozin
*.go @KirilStrezikozin
